# Directories and Reference files
	input_dir=input
	out_dir=output
	ref_genome=/data/eve_maize/aux/hisat2_index/zea_mays_ensemblgenomes42
	ref_gtf=/data/eve_maize/aux/Zea_mays.B73_RefGen_v4.47.gtf

# Which steps to run (TRUE/FALSE)
FASTQC="TRUE"
TRIMMOMATIC="TRUE"
TRIM_FASTQC="TRUE"
HISAT="TRUE"
FEATURECOUNTS="TRUE"

# Sequencing Layout: 	se:single-end
# 			pe:paired-end
# Strandedness		0:unstranded (Genewiz "Standard RNAseq")
# 			1:stranded
# 			2:reverse-stranded (Genewiz "Strand-specific RNAseq")
seq_type="pe"
stranded="2"

# Trimmomatic Parameters
adapter_file="/data/eve_maize/aux/TruSeq3-PE.fa"
TRIM_OPTIONS=$(echo "ILLUMINACLIP:${adapter_file}:2:30:10 LEADING:3 TRAILING:3 SLIDINGWINDOW:4:15 MINLEN:36")
